<!DOCTYPE html>
<html>
   

<head>
    <head>
        <title> {%block page_name %}{% endblock %} </title>
    </head>
</head>


{% block navigation %}
<!--If logged in pass user = 'username' to any page that extends main-->

<!-- removed "and user|length" from conditional below because it caused an error -->
<div id= "navigation">
    <a href="/"> Home</a> <a href= "/pages">Pages</a> <a href= "/about">About</a>  |{% if current_user and current_user.is_authenticated %} {{current_user.username}} | <a href="/upload"> Upload</a> <a href= "/logout">Logout</a> {% else %} <a href= "/login">Login</a> <a href= "/signup">Signup</a> {% endif %}
</div>
{% endblock %}

{% block content %}{% endblock %}

</html>